* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(to top, #111, #00c251 900%);
}

.site-title {
  font-family: sans-serif;
  margin-top: 1vh;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  margin: 0 auto;
  max-width: 1000px;
  color: white;
}

.nav-list {
  display: flex;
  list-style: none;
  height: 100%;
  justify-content: center;
}

.nav-item {
  padding-left: 2em;
  text-align: center;
  display: flex;
  align-items: center;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
}

@media screen and (max-width: 500px) {
  .nav-list {
    flex-direction: column;
    height: 100vh;
    display: none;
  }
  .nav-item {
    padding: 2em;
  }
  .nav-link {
    margin: 0 auto;
  }
}
